@charset "utf-8";

/********* Open Sans Regular Font Family *********/


/* default style */

html, body {
    background-color: #fff;
    height: 100%;
}

html, body, button, input, select, textarea {
    color: #393939;
    font-size: 14px;
    line-height: 22px;
}

a {
    text-decoration: none;
    color: #545454;
}

a:focus {
    outline: 0 none;
}

a:hover, a:active {
    outline: 0;
}

a:hover {
    text-decoration: none;
    color: #545454;
}


/* header style */

header {
    background-color: #119caf;
}

header a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}

header a:hover {
    color: #ffffff;
}

#header-top {
    background-color: #098799;
}

#header-nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

#header-nav .user-details {
    margin-top: 15px;
}

#header-nav .user-details ul>li {
    padding: 5px;
}

#header-nav .user-details .user-avatar {
    margin-right: 10px;
    border: solid 2px #fff;
}

#header-nav .user-details ul>li:last-child {
    padding: 0px 5px 0px 20px;
}

#header-nav .user-details a.nav-icon {
    background-color: #43d1e7;
    padding: 5px 9px 5px 9px;
    border-radius: 50%;
}

#header-nav .user-details a.nav-icon .badge {
    position: absolute;
    top: -4px;
    background-color: #f15820;
    /*right: -4px;*/
}

#header-nav .user-details .fa-caret-down {
    color: #43d1e7;
    padding-left: 8px;
}

#header-bottom {
    background-color: #153c84;
}


/* sidebar style */

#sidebar {
    background-color: #0c1c3c;
}


/* make sidebar nav vertical */

#sidebar .navbar {
    color: #ffffff;
    margin-bottom: 0px;
}

#sidebar .navbar .nav {
    margin-top: 0px;
}

#sidebar .navbar li>a {
    border-bottom: 1px solid #848484;
}

#sidebar .navbar li a {
    color: #ffffff;
}

#sidebar .navbar .dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
}

#sidebar .nav li>a:focus, #sidebar .nav li>a:hover, #sidebar .nav li.active>a {
    background-color: #2f559e;
}

#sidebar .nav .open>a, #sidebar .nav .open>a:focus, #sidebar .nav .open>a:hover {
    background-color: #2f559e;
}

@media (min-width: 768px) {
    #sidebar .navbar {
        border-width: 0px;
        margin-bottom: 20px;
    }
    #sidebar .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    #sidebar .navbar ul {
        float: none;
    }
    #sidebar .navbar li {
        float: none;
        display: block;
    }
    #sidebar .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
        color: #ffffff;
    }
    #sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}


/* page-content style */

#page-content {}

.user-auth-form {
    margin-top: 15%;
}


/* footer style */

footer {
    background-color: #f6f5f5;
}